[submodule "tao"]
	path = tao
	url = git@github.com:travisdesell/tao.git
[submodule "milkywayathome_client"]
	path = milkywayathome_client
	url = git@github.com:Milkyway-at-home/milkywayathome_client.git
